<tr>
  <td><%= link_to job.title, job_seo_path(job) %></td>
  <td class="text--center"><%= job_contracts job %></td>
  <td class="text--center"><%= working_time job %></td>
  <td class="text--center"><%= job_departement_codes job %></td>
</tr>